.image-container {
  display: flex;
  width: 50vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #052E1C;
  overflow-y: hidden;

  img {
    width: 40vw;
  }
}