.title-subtitle {
  color: #052E1C;
  font-size: 2rem;
  font-weight: 500;

  .subtitle {
    color: #737373;
    font-size: 1.2rem;
    margin-bottom: 0rem;

    .subtitle-2 {
      margin-top: 2%;
    }
  }
}