.main-button {
  text-align: center;
  cursor: pointer;
  background-color: #052E1C;
  color: #ffffff;
  border: none;
  font-weight: 600;
  font-size: medium;
  width: 70%;
  padding: 15px 10px;
  border-radius: 5px;

  &:hover {
    opacity: 0.8;
  }
  
  &:disabled {
    background-color: #9e9e9e;
    &:hover {
      opacity: 1;
    }
  }
}